{
  "dev": {
    "MONGO_USER": "username",
    "MONGO_PASS": "password",
    "MONGO_HOST": "localhost",
    "MONGO_PORT": "27017",
    "MONGO_DATABASE": "clients-list",
    "MONGO_ADMIN_DB": "admin",
    "JWTSECRET": "cl_token"
  },
  "unit-test": {
    "MONGO_USER": "username",
    "MONGO_PASS": "password",
    "MONGO_HOST": "localhost",
    "MONGO_PORT": "27017",
    "MONGO_DATABASE": "clients-list",
    "MONGO_ADMIN_DB": "admin",
    "JWTSECRET": "cl_token"
  },
  "prod": {
    "MONGO_USER": "username",
    "MONGO_PASS": "password",
    "MONGO_HOST": "anton-sandbox.xnmfo.mongodb.net",
    "MONGO_PORT": "",
    "MONGO_DATABASE": "clients-list?retryWrites=true&w=majority",
    "JWTSECRET": "cl_token"
  }
}
